@media (min-width: 375px) {
  .container {
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 80px;
    background: #ffffff;
  }

  h1 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #111517;
    margin-top: 16px;
    margin-left: 19px;
  }

  .header {
    background: #ffffff;
  }
  p {
    margin-left: -115px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 80px;
  }
}
