@media (min-width: 375px) {
  .container {
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 80px;
    background: #ffffff;
    border-bottom: 1px solid;
  }

  h1 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #111517;
    margin-top: 26px;
    margin-left: 19px;
  }

  .header {
    background: #ffffff;
  }
  p {
    margin-left: -115px;
    margin-top: 25px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #111517;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 80px;
  }

  h1 {
    font-size: 24px;
    line-height: 33px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }
}
