<div class="container">
  <app-dropdown></app-dropdown>
  <div class="countryCards">
    <img class="flags" src="{{ countryname.flags.png }}" alt="" />

    <div class="countryName">
      <p>{{ countryname.name.common }}</p>
    </div>

    <div class="population">
      <p>{{ countryname.population }}</p>
    </div>

    <div class="region">
      <p>{{ countryname.region }}</p>
    </div>

    <div class="subregion">
      <p>{{ countryname.subregion }}</p>
    </div>

    <div class="capital">
      <p>{{ countryname.capital }}</p>
    </div>

    <div class="tld">
      <p>{{ countryname.tld }}</p>
    </div>

    <div class="currencies">
      <p *ngFor="let item of newArray">{{ item }}</p>
    </div>

    <div class="languages">
      <p *ngFor="let item of countryname.languages | keyvalue; let i = index">
        {{ item.value }}
      </p>
    </div>

    <div class="borders">
      <p>{{ countryname.borders }}</p>
    </div>
  </div>
</div>
