<div class="container">
  <app-navbar></app-navbar>

  <div class="button">
    <button (click)="onClick()">
      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.81802 3.6967L6.87868 4.75736L3.3785 8.25754H16.7428L16.7428 9.74246H3.3785L6.87868 13.2426L5.81802 14.3033L0.514719 9L5.81802 3.6967Z"
          fill="#111517"
        />
      </svg>
      Back
    </button>
  </div>

  <div class="countryCards">
    <img class="flags" src="{{ countryname.flags.png }}" alt="" />
    <div class="block">
      <div class="countryName">
        <p>{{ countryname.name.common }}</p>
      </div>

      <div class="countryLine">
        <p>Native&nbsp;Name:&nbsp;</p>
        <p *ngFor="let item of countriesIdArray">{{ item }}"</p>
      </div>
      <div class="countryLine">
        <p>Population:&nbsp;</p>
        <p>{{ countryname.population | number }}</p>
      </div>

      <div class="countryLine">
        <p>Region:&nbsp;</p>
        <p>{{ countryname.region }}</p>
      </div>

      <div class="countryLine">
        <p>Sub&nbsp;Region:&nbsp;</p>
        <p>{{ countryname.subregion }}</p>
      </div>

      <div class="countryLine">
        <p>Capital:&nbsp;</p>
        <p>{{ countryname.capital }}</p>
      </div>
    </div>

    <div class="blocktwo">
      <div class="countryLine">
        <p>Top&nbsp;Level&nbsp;Domain:&nbsp;</p>
        <p>{{ countryname.tld }}</p>
      </div>

      <div class="countryLine">
        <p>Currencies:&nbsp;</p>
        <p *ngFor="let item of newArray">{{ item }}</p>
      </div>

      <div class="countryLine">
        <p>Languages:&nbsp;</p>
        <p *ngFor="let item of countryname.languages | keyvalue; let i = index">
          {{ item.value }}
        </p>
      </div>
    </div>

    <div class="borders">
      <p>Borders:&nbsp;</p>
      <p *ngFor="let item of borders" [routerLink]="['/countries', item]">
        {{ item }}
      </p>
    </div>
  </div>
</div>
