<div class="container">
  <div class="countryCards" *ngFor="let country of countries">
    <img class="flags" src="{{ country.flags.svg }}" alt="" />

    <div class="countryName">
      <p>{{ country.name.common }}</p>
    </div>

    <div class="population">
      <p>{{ country.population }}</p>
    </div>

    <div class="region">
      <p>{{ country.region }}</p>
    </div>

    <div class="subregion">
      <p>{{ country.subregion }}</p>
    </div>

    <div class="capital">
      <p>{{ country.capital }}</p>
    </div>

    <div class="tld">
      <p>{{ country.tld }}</p>
    </div>

    <div class="currencies">
      <p>
        {{ country.currencies.isk }}
      </p>
    </div>
    <div class="languages">
      <p *ngFor="let item of country.languages | keyvalue; let i = index">
        {{ item.value }}
      </p>
    </div>

    <div class="borders">
      <p>{{ country.borders }}</p>
    </div>
  </div>
</div>
