<div class="container">
  <app-searchbar></app-searchbar>
  <app-dropdown></app-dropdown>
  <div
    class="countryCards"
    *ngFor="let country of countries | search: searchFilter:'region'"
  >
    <a [routerLink]="['/countries', country.name.official]"
      ><img class="flags" src="{{ country.flags.png }}" alt="" />

      <div class="countryName">
        <p>{{ country.name.official }}</p>
      </div>

      <div class="population">
        <p>{{ country.population }}</p>
      </div>

      <div class="region">
        <p>{{ country.region }}</p>
      </div>

      <div class="capital">
        <p>{{ country.capital }}</p>
      </div>
    </a>
  </div>
</div>
