<div class="container">
  <app-navbar></app-navbar>

  <div class="subcontainer">
    <div class="searchBar">
      <label for="filter"></label>
      <input
        class="search"
        type="text"
        [(ngModel)]="searchFilter"
        placeholder="     Search for countries"
      />
    </div>
    <div class="dropdown">
      <select [(ngModel)]="region" name="regions" id="region">
        <option value="" disabled selected>Fliter By Region</option>
        <option value="africa">Africa</option>
        <option value="americas">Americas</option>
        <option value="asia">Asia</option>
        <option value="europe">Europe</option>
        <option value="oceania">Oceania</option>
      </select>
    </div>
  </div>
  <div
    class="countryCards"
    *ngFor="
      let country of countries
        | filterbyregion: region:'region'
        | search: searchFilter:'name'
    "
  >
    <a [routerLink]="['/countries', country.name.common]"
      ><img class="flags" src="{{ country.flags.png }}" alt="" />

      <div class="countryName">
        <p>{{ country.name.common }}</p>
      </div>

      <div class="population">
        <p>{{ country.population }}</p>
      </div>

      <div class="region">
        <p>{{ country.region }}</p>
      </div>

      <div class="capital">
        <p>{{ country.capital }}</p>
      </div>
    </a>
  </div>
</div>
