<div class="dropdown">
  <select name="regions" id="region">
    <option value="africa">Africa</option>
    <option value="americas">Americas</option>
    <option value="asia">Asia</option>
    <option value="europe">Europe</option>
    <option value="oceania">Oceania</option>
  </select>

  <!-- <button (click)="myFunction()" class="dropbtn">Filter by Region</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/countries">Africa</a>
    <a href="">America</a>
    <a href="">Asia</a>
    <a href="">Europe</a>
    <a href="">Oceania</a>
  </div> -->
</div>
